body {
    margin: 0;
    background-color: $color-claro;
    font-family: 'Times New Roman', Times, serif;
    color: $color-secundario ;

    @include responsive(600px) {
      padding: 15px
    }

}

nav {
    margin: 0;
    background-color: $color-fondo;
    padding: 15px;
    @include flex-center;

    h1 {
        color: $color-blanco;
        margin: 0;
    }

    .barra {
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            a {
                color: $color-blanco;
                text-decoration: none;
                font-weight: bold;
            }

            a:hover {
                color: $color-terciario;
            }
        }
    }
}

#inicio {
    padding-top: 15px;
    margin: 0;
    min-height: 300px;
    width: 100%;

    @include flex-center;

    gap: 20px;

    h1 {
        text-align: left;
    }

    img {
        @include imagen;
        width: 90%;
        
    }

    #div {
        @include flex-center;
        padding-left: 50px;
    }

}

.informacion {
    min-height: 300px;
    padding: 0px;
    width: 100%;

    @include flex-center;

    gap: 20px;

    h {
        text-align: center;
    }

    img {
        @include imagen;
        width: 60%;

    }

    div {
        padding: 15px;
    }

}

.grid-menu {
    margin: 0;
    display: grid;
    grid-template-columns: repeat();
    gap: 15px;
    padding: 15px;

    @include responsive(2048px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include responsive(1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(600px) {
        grid-template-columns: 1fr;
    }

    button {
        @include boton;

    }
}

.card {
    background-color: $color-secundario;
    padding: 15px;
    border-radius: 10px;
    text-align: center;

    li {
        list-style: none;
        color: $color-claro;
    }

    h3 {
        color: $color-fondo;
    }

    img {
        @include imagen;
        display: flex;
        width: 100%;
    }

}

form {
    margin: 15px;

    div {
        background-color: $color-fondo;
        padding: 10px;

        @include flex-center;

        textarea {
            border-radius: 5px;
        }

        h2 {
            color: $color-blanco;
            ;
        }
    }

    label {
        margin-right: 15px;
        background-color: $color-fondo;
        color: $color-blanco;
        padding: 8px;
        border-radius: 5px;
    }

    button {

        @include boton;
    }

    input {
        border-radius: 5px;

    }
}

footer {
    @include flex-center;
    background-color: $color-primario;
    color: $color-blanco;
    gap: 10px;
    padding: 15px;
}